{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
<!-- This is used to display the GUI -->
<div class="container">
    <div class="row text-center">
        <h1>Change Personal Identification Number</h1>
        <div class="col-6 mx-auto">
        <form method="POST">
            <div class="row g-3 mt-3">
                <div class="col-6 form-floating">
                    <input 
                    type="password" 
                    onkeypress="return event.charCode>=48 && event.charCode<=57" 
                    name="new_pin" 
                    class="form-control"
                    >
                    <label>New Pin</label>
                </div>
                <div class="col-6 form-floating">
                    <input 
                    type="password" 
                    onkeypress="return event.charCode>=48 && event.charCode<=57" 
                    name="new_pin2" 
                    class="form-control"
                    >
                    <label>Confirm new Pin</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        {% if error %}
            <h4 class="my-3 text-danger"><strong>Error:</strong> {{error}}</h4>
        {% endif %}
    </div>
</div>


{% endblock %}