{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
<!-- This is used to display the GUI -->
<!-- This is used to display the GUI -->
<div class="container">
    <div class="row text-center">
        <h1>Generate One Time Password</h1>
        <p>We have generated a one time password below. Please input the password before it expires</p>
        <div class="col-6 mx-auto">
        <form method="POST">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>
                        {{otp}}
                    </h1>
                </div>
            </div>
        </form>

        {% if error %}
            <h4 class="my-3 text-danger"><strong>Error:</strong> {{error}}</h4>
        {% endif %}
    </div>
</div>


{% endblock %}